<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to JanesLunch.com</h1>
    <p>
      You've been invited to join the <%= @group_name %> lunch group!<br/>
    </p>
    <p>
      To join, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and happy lunching!</p>
  </body>
</html>