
<%= form_for(@user) do |f| %>

  <%= f.label(:first) %>
  <%= f.text_field(:first) %><br>

  <%= f.label(:last) %>
  <%= f.text_field(:last) %><br>
  
  <%= f.label(:addr) %>
  <%= f.text_field(:addr) %><br>
  
  <%= f.label(:addr2) %>
  <%= f.text_field(:addr2) %><br>

  <%= f.label(:city) %>
  <%= f.text_field(:city) %><br>
  
  <%= f.label(:state) %>
  <%= f.text_field(:state) %><br>

  <%= f.label(:zip) %>
  <%= f.text_field(:zip) %><br>
  
  <%= f.label(:phone) %>
  <%= f.text_field(:phone) %><br>


  <script>

    $(function(){
      $('#cc_change').click(function(){
          $('#cc_input_form').css('display','block');
          return false;
        });
    });

  </script> 

  <!--# @TODO fix this crappy show/hide logic and put it where it belongs-->
  <% if @user.card_nickname == '' || @user.card_nickname == nil %>
  <%   visibility='block' %>
  <%   process_card='true' %>
  <% else %>
      Credit card on file: Ends with <%=@user.card_last_four%> <a href='#' id="cc_change">change</a><br><br>
  <%   visibility='none' %>
  <%   process_card='false' %>
  <% end %>


  <div id="cc_input_form" style="display:<%=visibility%>;">

    <input type="hidden" name="cc[process_card]" value="<%=process_card%>">

    <label for="cc_name">Name on card</label>
    <input type="text" id="cc_name" name="cc[name]"><br>

    <label for="cc_card_number">Card number</label>
    <input type="text" id="cc_card_number" name="cc[number]"><br>

    <label for="cc_expiry">Expiry</label>
    <input type="text" id="cc_expiry" name="cc[expiry][]" style="width:95px;">
    <input type="text" id="cc_expiry" name="cc[expiry][]" style="width:95px;"><br>

    <label for="cc_cvc">CVC number</label>
    <input type="text" id="cc_cvc" name="cc[cvc]"><br>

  </div>

  <%= f.submit %>

<% end %>