
<%= form_for(@user) do |f| %>

  <%= f.label(:first) %>
  <%= f.text_field(:first) %><br>

  <%= f.label(:last) %>
  <%= f.text_field(:last) %><br>
  
  <%= f.label(:addr) %>
  <%= f.text_field(:addr) %><br>
  
  <%= f.label(:addr2) %>
  <%= f.text_field(:addr2) %><br>

  <%= f.label(:city) %>
  <%= f.text_field(:city) %><br>
  
  <%= f.label(:state) %>
  <%= f.text_field(:state) %><br>

  <%= f.label(:zip) %>
  <%= f.text_field(:zip) %><br>
  
  <%= f.label(:phone) %>
  <%= f.text_field(:phone) %><br>

  <%= f.submit 'Update', :class => 'btn btn-success' %>

<% end %>

<% if @user.card_nickname.length > 1 %>
  Credit card: xxxx-xxxx-xxxx-<%= @user.card_nickname%><a href="#card-modal" role="button" class="btn btn-info" data-toggle="modal">Change</a>
<% else %>
  <a href="#card-modal" role="button" class="btn btn-info" data-toggle="modal">Add credit card</a>
<% end %>


 
<!-- Modal -->
<div id="card-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="card-modalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Enter credit card info</h3>
  </div>
  <div class="modal-body">


<%= form_for(@user,:method=>:post, :url => '/u/card', :remote => true) do |f| %>

      <label for="cc_name">Name on card</label>
      <input type="text" id="cc_name" name="cc[name]"><br>

      <label for="cc_card_number">Card number</label>
      <input type="text" id="cc_card_number" name="cc[number]"><br>

      <label for="cc_expiry">Expiry</label>
      <input type="text" id="cc_expiry" name="cc[expiry][]" style="width:95px;">
      <input type="text" id="cc_expiry" name="cc[expiry][]" style="width:95px;"><br>

      <label for="cc_cvc">CVC number</label>
      <input type="text" id="cc_cvc" name="cc[cvc]"><br>

  <%= f.submit %>

<% end %>

  </div>

</div>





