<h1>Hi <%= @user.first %></h1> 
<h2>are you ready for lunch?</h2>

<br><br>
Member of: <br><% @user.groups.each do |g| %>
  <%= link_to g.name, group_show_path(g.name) %><br>
<% end %>
<br><%= link_to 'Create new group', new_group_path %>
<br><br>
Invited to: <br><% @pending.each do |g| %><br>
  <%= g.name %>
  <% end %>
