<div class="wrapper">

  <div class="container">
    
    <h1>Lunches by <strong>JanesLunch.com</strong> are just good.  Hella good.</h1>

    <div class="row">
      <form class="registration-form span6" action="/users" method="POST">
        <div class="controls">
          <input class="span6" type="text" name="user[email]" placeholder="Enter your email to register!">
        </div>
        <div class="password fields">
          <div class="controls controls-row">
            <input type="password" placeholder="Password" name="user[password]" class="span3">
            <input type="password" placeholder="Confirm Password" name="user[password_confirmation]" class="span3">
          </div>
          <div class="controls">
            <input type="submit" class="btn btn-info"></input>
          </div>
        </div>
      </form>
    </div>

  </div>

  <footer>
    <ul class="unstyled inline">
      <li><a href="#about">About Us</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#terms">Terms</a></li>
      <li><a href="#suggestions">Suggestions</a></li>
    </ul>
  </footer>
</div>
