<div class="wrapper">

  <div class="container">
    

    <h1>Lunches by <strong>JanesLunch.com</strong> are just good.  Hella good.</h1>

    <div class="row">
      <form class="registration-form span6" action="/u/register">
        <div class="controls">
          <input class="span6" type="text" placeholder="Enter your email to register!">
        </div>
        <div class="password fields">
          <div class="controls controls-row">
            <input type="password" name="password" class="span3">
            <input type="password" name="passwordConfirm" class="span3">
          </div>
          <div class="controls">
            <a href="/u/register" class="btn btn-info">Register!</a>
          </div>
        </div>
      </form>
    </div>

  </div>

  <footer>
    <ul class="unstyled inline">
      <li><a href="#about">About Us</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#terms">Terms</a></li>
      <li><a href="#suggestions">Suggestions</a></li>
    </ul>
  </footer>
</div>