<div class="wrapper">
  <header>
    <div class="logo">Logo</div>
    <a href="/u/login" class="login">Login</a>
  </header>

  <h1>Lunches done right at <strong>JanesLunch.com</strong>.  Make a better tagline, idiot.</h1>

  <form action="/u/register">
    <fieldset>
      <input type="text" name="emailAddress" id="" placeholder="Enter your email to sign up!">
      <input type="submit">
    </fieldset>
  </form>

  <footer>
    <ul>
      <a href="#about">
        <li>About Us</li>
      </a>
      <a href="#contact">
        <li>Contact</li>
      </a>
      <a href="#terms">
        <li>Terms</li>
      </a>
      <a href="#suggestions">
        <li>Suggestions</li>
      </a>
    </ul>
  </footer>
</div>