// Place all the styles related to the Info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about, .contact, .terms, .security, .suggestions {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  color: #333;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding: 30px 60px;
  h2, h3, h4 {
    color: #333;
  }
  .head {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  ol {
    list-style: lower-latin;
    padding-left: 20px;
  }
  .suggestion-form {
    margin-top: 50px;
    text-align: left;
  }
}
