// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: rgb(255,255,255);
$yellow: rgb(250,189,62);
$pink: rgb(226,20,126);
$green: rgb(0,153,0);
$orange: rgb(242,68,5);
$red: rgb(242,61,61);
@font-face {
  font-family: "Cubano";
  src: url(/assets/cubano/cubano-regular-webfont.ttf) format('truetype');
}

a {
  color:$white;
  text-decoration:none;
}
a:hover, a:focus {
  text-decoration: underline;
  color: $white;
}
.navbar-inverse {
  .navbar-inner {
    padding: 0 0 0 20px;
    .brand {
    padding: 0;
    }
    .login {
      position: relative;
      top: 40px;
      padding: 10px 20px;
      background: $green;
      color: #fff;
    }
  }
}

html {
  height: 100%;
  width: 100%;
  h1, a {
    color: #fff;
  }
  a:hover {
    text-decoration: underline;
    color: #fff
  }
}

body {
  background: url('/assets/background.jpg') no-repeat top left fixed;
  font-family: 'Raleway', sans-serif;

  a { font-weight: 600;}
  h1 {
    color: #fff;
    font-family: "Cubano", "Helvetica-Neue";
  }
  .alert, .message {
    width: 30%;
    margin: 0 auto;
  }
  .registration-form.span6 {
    margin: 0 auto;
    float: none;
    input {
      height: 1.4em;
      line-height: 1.4em;
      font-size: 1.6em;
      text-align: center;
    }
  }
  .password-fields {
    display: none;
  }
  .navbar {
    background: $yellow;
    .navbar-inner {
      background: $yellow;
      border: none;
      .dropdown-menu, dropdown-submenu {
        li {
          a {
            color: #000000;
            font-weight: 600;            
          }
          a:hover, a:focus {
          color: #000000;
          font-weight: 600;
          background-color: $yellow;
          background-image:-moz-linear-gradient(top, $yellow, $yellow);
          background-image:-webkit-gradient(linear, 0 0, 0 100%, from($yellow), to($yellow));
          background-image:-webkit-linear-gradient(top, $yellow, $yellow);
          background-image:-o-linear-gradient(top, $yellow, $yellow);background-image:linear-gradient(to bottom, $yellow, $yellow);
          background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff24405', endColorstr='#fff23d3d', GradientType=0);
          }
        }
      } 
    }
  }
  .wrapper {
    padding: 2em;
  }
  footer {
    background: #ffffff;
    color: #111;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.6em;
    padding-top: 10px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}
