// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$yellow: rgb(250,189,62);

a:hover {
  text-decoration: none;
}
.navbar-inverse {
  .navbar-inner {
    padding: 0 0 0 20px;
    .brand {
    padding: 0;
    }
    .login {
      position: relative;
      top: 40px;
      padding: 10px 20px;
      background: green;
      color: #fff;
    }
  }
}

html {
  background: #f24405;
  h1, a {
    color: #fff;
  }
  a:hover {
    text-decoration: underline;
    color: #fff
  }
}

body {
  background: #f24405;
  background-size: 100%;
  height: 100%;
  width: 100%;
  h1 {
    color: #fff;
  }
  .registration-form.span6 {
    margin: 0 auto;
    float: none;
    input {
      height: 1.4em;
      line-height: 1.4em;
      font-size: 1.6em;
      text-align: center;
    }
  }
  .password-fields {
    display: none;
  }
  .navbar {
    background: $yellow;
    .navbar-inner {
      background: $yellow;
      border: none;
    }
  }
  footer {
    background: #ffffff;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
