$white: rgb(255,255,255);
$yellow: rgb(250,189,62);
$pink: rgb(226,20,126);
$green: rgb(0,153,0);
$orange: rgb(242,68,5);
$red: rgb(242,61,61);


body {
  .wrapper {
    text-align: center;
    .groups {
      margin-top: 20px;
      ul {
        list-style: none;
        .group {
          i.kill {
            font-size: 0.6em;
            position: relative;
            left: 5px;
            bottom: 3px;
            color: rgba(255, 255, 255, 0.5);
          }
          i.kill:hover {
            color: rgba(255, 0, 0, 0.5);
            text-decoration: none;
          }
          a:hover {
            text-decoration: none;
          }
          font-size: 2em;
          .add-member {
            opacity: 0.4;
            font-size: 0.5em;
            position: relative;
            bottom: 2px;
            i {
              font-size: 0.8em;
              position: relative;
              bottom: 1px;
            }
          }
          .add-member:hover, .add-member a:hover {
            color: rgba(0, 255, 0, 0.5);
          }
        }
        .group-name:hover {
          color: rgb(250,189,62);
        }
      }
    }
    #card-modal {
      background: $yellow;
      border-radius: 0;
      border: none;
      width: 400px;
      left: 55%;
      .modal-header {
        background: $pink;
        border: none;
      }
      .modal-body {
        text-align: left;
        color: #333;
        .clearfix {
          float: none;
          clear: both;
        }
        .expire-select {
          width: 104px;
        }
        button {
          border-radius: 0;
          border: none;
          background: $green;
          color: $white;
          text-shadow: none;
        }
      }
      label {
        float: left;
        line-height: 1.6em;
      }
      input, select, button {
        float: right;
      }
      #cc_expiry_month {
        margin-right: 12px;
      }
      button.btn-success {
        width: 219px;
      }
    }
    input[type=submit] {
      margin-top: 10px;
    }
  }

}




