<h1>About Us!</h1>
<p>The Story of Jane's Lunch</p>
<p>Jane's Lunch started on March 1, 2013 when the four of us (Crystal, Jane, Tim, and Tyler) realized that:

  1. We had a project due in a week.
  2. were very tired of answering the questions "What should we order for lunch?" and "Whose card are we using?"</p>

<p>Jane brilliantly decided that we should just build a website where we could all order as a group, but pay with our own cards.    
