<h1>About Us!</h1>
<div id="about">
<p>The Story of Jane's Lunch</p>
<p>Jane's Lunch started on March 1, 2013 when the four of us (Crystal, Jane, Tim, and Tyler) realized that:</p>

 <p>1. We were very tired of answering the questions "What should we order for lunch?" and "Whose card are we using?"</p>
 <p>2. We had to present a project in one week!</p>

<p>Jane brilliantly decided that we should just build a website where we could all order as a group, but each pay with our own cards. This website would also magically pick a restaurant for us and would only give us a set number of menu options so there was no excuse for taking forever to pick a meal.</p>

<p>A week later, here we are. Jane's Lunch</p>   
</div>