<div class="contact">
  <div class="head">
    <h2>Contact Us!</h2>
    <br />
  <h4><p>Shoot us an email at janeslunch@gmail.com</p>
  <p>or</p>
  <p>Give us a call at (415) 754-3034</p></h4>
  </div>
</div>