<h2>Your information security is important to us!</h2>
<p>All communications between you and JanesLunch.com are fully SSL encrypted.</p>
<p>Passwords are hashed and salted using industry standard encryption methods.</p>
<p>Your credit card information is sent directly to the delivery service provider.  We never store your confidential financial information!</p>
