<div class="suggestions">
  <div class="head">
    <h2>Got a request or a problem?</h2>
  </div>
  <form class="suggestion-form">
    <div class="control-group">
      <div class="controls">
        <input class="span10" type="text" id="inputEmail" name="email_address" placeholder="Your email">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <textarea class="span10" id="message" name="message" placeholder="Say something nice!" rows="5"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-large btn-success">Send</button>
      </div>
    </div>
  </form>
</div>