<h2>Got a request or a problem?</h2>

<form class="suggestion-form">
  <div class="control-group">
    <div class="controls">
      <input type="text" id="inputEmail" name="email_address" placeholder="Your email">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <textarea id="message" name="message" placeholder="Say something nice!" rows="5"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Send</button>
    </div>
  </div>
</form>